*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
}
a{
text-decoration: none;
color: grey;
font-size: 0.8rem;

}
a:hover{
    color: rgb(146, 164, 170);
    text-decoration:underline;
}

header h2{
padding: 1rem;


}
#logo{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
.search-form{
    
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.search-form input{
padding: 0.5rem;
width: 60%;

font-size: 1.5rem;
border: none;
border: 2px solid rgb(73, 60, 117);
border-top-left-radius: 0.5rem;
border-bottom-left-radius: 0.5rem;


}
.search-form button{
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    background: rgb(73, 60, 117) ;
    color: white;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.img-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    padding: 0.5rem 0rem;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    row-gap: 4rem;
    column-gap: 3rem;
    width: 80%;
    margin: auto;
}
.galleryImg img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

p{
    font-size: 0.8rem;
}

.nav-button{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more{
    padding: 1rem 2.5rem;
    border: none;
    font-size: 1.3rem;
    background: rgb(51, 51, 109);
    color: white;
    transition: all 0.2s ease;
    cursor: pointer;

}
.more:hover{
    background: rgb(76, 76, 151);
}